name: Merge any release branch to develop
on:
  push:
    branches:
      - 'main'
jobs:
  merge-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Merge staging -> develop
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          target_branch: develop
          github_token: ${{ github.token }}
